.wrapper {
  .add-tasks {
    color: #585858;
    padding: 40px 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tasks-body {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px !important;

      h4 {
        text-align: center;
      }
      .mark {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-weight: bold;
        }
      }
      .desc {
        width: 50%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        span {
          font-weight: bold;
        }
      }
      .task-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        a:hover {
          font-weight: 500;
          text-decoration: underline;
        }
        .files {
          margin-left: 15px;
        }
        .class {
          width: 30%;
        }

        input {
          width: 72%;
          margin: 0 !important;
          text-align: right;
          border-bottom: 1px solid #9e9e9e !important;
          font-size: 14px !important;
        }
        textarea {
          width: 72%;
          text-align: right;
          font-size: 14px !important;
        }

        .deadline-days {
          display: flex;
          justify-content: space-between;
          width: 72%;

          .deadline-day {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 33.3%;

            label {
              margin-right: 10px;
            }

            .MuiInputBase-root {
              width: 50% !important;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .description {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      align-items: center;

      .input-field {
        textarea {
          text-align: right;
        }

        width: 72%;
        margin: 0 !important;
      }

      span {
        text-align: right;
        width: 72%;
      }
    }

    .answer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      input {
        text-align: right;
        width: 72%;
        font-size: 18px;
      }

    }

    .btn {
      width: 70%;
    }

    textarea.materialize-textarea {
      line-height: normal;
      overflow-y: hidden;
      padding: .8rem 0 .8rem .8rem;
      min-height: 3rem;
      box-sizing: border-box;
    }
  }
}

