.journal {
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  //min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #585858;
  .MuiTableContainer-root {
    width: 100%;
    overflow-x: auto;
  }
  //.MuiTableRow-root {
  //  display: table;
  //}
  .students {
    width: 10%;
    border: 1px solid #b1b1b1;
  }
  .final-mark {
    text-align: center;
    width: 8%;
    border: 1px solid #b1b1b1;
  }
  .marks {
    width: 8%;
    text-align: center;
    border: 1px solid #b1b1b1;
    span {
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
      a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #000000 !important;
      }
    }
  }
  .dates {
    border: 1px solid #b1b1b1;
    width: 8%;
    text-align: center;
  }
  .select-subject {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    label {
      margin-right: 20px;
    }
    .MuiInputBase-root {
      width: 60%;
    }
  }
  h5 {
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
  }
}
