.wrapper {
  color: #585858;
  .MuiTableContainer-root {
    width: 90%;
    overflow-x: auto;
  }
  .MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    border-right: 1px solid #b1b1b1;
    &:last-child {
      border-right: none;
    }
  }
  nav {
    width: 90%;
    margin-bottom: 20px;
  }

  .nav-wrapper {
    padding: 0 10px;
  }

  // AddTasks

  .tasks {
    padding: 20px;
    width: 90%;
    min-height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .class {
      .class-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 60px;
          border-radius: 10px;
          width: 400px;
          margin: 20px;
        }
      }
    }
  }
}


//ShowTasks

.status {
  font-weight: bold !important;
}

.delete {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
  }
}