.classes {
  margin-top: 30px;
}

.wrapper {

}

.breadcrumb:before {
  color: inherit;
}

.users {
  .nav-wrapper {
    padding: 0 15px;
  }
  margin-top: 30px;

  .collapsible-header {
    font-size: 18px;
    color: inherit;
  }
  .collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 1rem;
    .z-depth-1-half, {
      box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.14),  0 1px 7px 0 rgba(0, 0, 0, 0.12), inset 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
    .items {
      margin: 10px;
      display: flex;
      align-items: center;
      padding: 12px;
      .info {
        font-size: 1em;
        flex: 0 0 93%;
        display: flex;
        align-items: center;
        .id-class {
          margin: 0 10px;
          text-align: center;
          width: 50%;
        }
        .number-class {
          margin: 0 10px;
          text-align: center;
          width: 50%;
          .number {
            font-size: 1.5em;
            margin-left: 20px;
          }
        }
        span {
          width: 1%;
          margin-right: 10px;
        }
        .fio {
          margin: 0 10px;
          flex: 1 1 auto;
        }
        .login {
          margin: 0 10px;
          text-align: center;
          flex: 0 0 15%;
        }
        .email {
          margin: 0 10px;
          text-align: center;
          flex: 0 0 20%;
        }
        .mobileNumber {
          margin: 0 10px;
          text-align: center;
          flex: 0 0 10%;
        }
        .subject {
          margin: 0 10px;
          text-align: center;
          flex: 0 0 15%;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 7%;
        font-size: 30px;
        .edit {
          margin: 0 10px ;
        }
        .delete {
        }
      }

    }
  }
}



