.classes {
  margin-top: 30px;
}

.users {
  margin-top: 30px;

}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 1rem;
}

.items {
  margin: 10px;
  span {
    margin-right: 10px;
  }
}